<header class="navbar">
    <div class="logo">SOUNDWAVE<span>.</span></div>
    <button class="menu-toggle" id="mobile-menu" aria-label="Abrir Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    <nav>
        <ul class="nav-links" id="nav-list">
            <li><a href="#inicio">Início</a></li>
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#portfolio">Portfólio</a></li>
            <li><a href="#contacto" class="btn-nav">Orçamento</a></li>
        </ul>
    </nav>
</header>
