    <div class="audio-player-fixed">
        <div class="audio-info">
            <h4 class="audio-fixed-title">Nome da Música Exemplo</h4>
            <p class="audio-fixed-subtitle">A Reproduzir</p>
        </div>
        
        <!-- Player HTML5 Nativo -->
        <audio controls>
            <source src="{{ '/assets//exemplo.mp3' | relative_url }}" type="audio/mpeg">
            O seu navegador não suporta o player.
        </audio>
        
        <!-- Linha direita: Rodapé / Footer -->

    </div>