/* =========================================================
   VARIÁVEIS GLOBAIS
========================================================= */

:root {
    --bg-dark: #0b0f19;
    --bg-card: #151c2c;
    --accent: #00d2ff;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
}