<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUNDWAVE produções | Áudio Profissional</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>

<body>

    {% include navbar.html %}

    <main>
        {% include hero.html %}
        {% include info.html %}
        {% include services.html %}
        
        {% comment %}
        {% include portfolio.html %}
        {% endcomment %}

        <section id="blog" class="blog">
            {% include blog.html %}
        </section>

        <section id="contacto" class="contact">
            {% include contacto.html %}
        </section>
    </main>

    <footer>
        <div class="footer-bottom-row">
            <p>&copy; 2026 SOUNDWAVE produções. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
</body>

</html>